body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    font-size: 45px;
}

h2{
    font-size: 35px;
}

p{
    color: rgb(104, 103, 103);
}
section{
    height: 80vh;
    width: 100%;    
}
.top-banner{
    padding-top: 4vh;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
   
}

.navbar{  
    background-color: orange;
    text-align: center;
    color: white;
    height: 2rem;
    width: 100%;
    position: fixed;
    /* margin-bottom: 5px; */
}

.navbar-link{
    color: white;  
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
   margin:0px 20px;

   border-left: 2px solid white ;
   border-right: 2px solid white ;
   padding: 2px 15px;

   
}
.navbar-link:hover{
    text-decoration: underline;
    background-color: #ff5200;
   
}
.orange-highlight{
    color: orange;
    
}
.half-width{
    width: 45%;
    float: left;
    margin-left: 3%;
    padding-left: 1%;
    
}
.half-width img{
    width: 100%;
}
/* .half-width.Dream {
    height: 500px; }
    /* problem */

.link-button{
    text-decoration: none;
    border: 2px solid #ff4400c7;
    border-radius: 10px;
    background: linear-gradient(to right, orange, #ff5100b2);
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.5s;
}
.link-button:hover{
    text-decoration: underline;
    padding: 10px 20px;
    background: linear-gradient(to right, #ff5100a4, orange);
}


.resume-button{
    text-decoration: none;
    border: 2px solid #ff4400c7;
    border-radius: 10px;
    background: linear-gradient(to right, orange, #ff5100b2);
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.5s; 
}
.resume-button:hover{
    text-decoration: underline;
    padding: 10px 25px;
    background: linear-gradient(to right, #ff5100a4, orange);  
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100vh;
 
}
.dream{
    margin-top: 60px;
}
  .experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 50vh;
  }   
  
.single-experience{
    height: 300px;
    box-shadow: 5px 5px 30px 5px gray;
    border-radius: 5px;
    background-color: white;
   
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #fd5411, rgba(231, 109, 87, 0.788));
    border-image-slice: 1;
}
 
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #0000ffda, #39c3f1);
    border-image-slice: 1; 
}
footer{
    text-align: center;
    font-size: 18px;
    color: grey;
}
footer a{
    text-decoration: none;
    font-size: 18px;
}
footer a:hover{
    text-decoration: underline;
    color: #ff0000d8;
    font-size: 20px;
}