body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 45px;
}
 
.name-highlight{
    color: orange;
}
.half-width{
    width: 45%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}